
<body>
    <header class="cabecalho">
      <div class="logo">
          <a routerLink= ''>
              <img src="../../../assets/Logo.png" alt="Logo" />
          </a>
      </div>
      <nav class="menu">
          <ul>
              <li>
                  <a  routerLink= ''>Início</a>
              </li>
              <li>
                  <a routerLink= '/table'>Alunos</a>
              </li>
              <li>
                  <a >Sobre</a>
              </li>
              <li>
                  <a >Contato</a>
              </li>
          </ul>
      </nav>
      <aside class="autenticacao">
          <a >Login</a>
          <a class="botao destaque">Registrar</a>
      </aside>
  </header>
  </body>
  